.lines{
    border: 1px solid #e1e1e1;
    width: 1890px;
    height: 1px;
}
.footp{
    text-align: center;
    font-size: 14px;
    font-weight: 700;
    color: #907E82;

}
.footer{
    position: absolute;
    margin-top: -1.5%;
}