.cols1:hover{
    background: #ECEBEB;
    color: #D41443;
}
.btn2:hover{
    background: #C7133E;
    color: #FFFFFF;
}
.btn3:hover{
    background: #ECEBEB;
    color: #D41443;
}
.btn6:hover{
    background: #ECEBEB;
}
.btn8:hover{
    background: #f70541;
    color: white;
}
.btn7:hover{
    background: #ECEBEB;
    color: #D41443;

}