.fot2{
    margin-left: 15%;
    margin-top: -9%;
}
.fot3{
    margin-top: 20%;
    position: absolute;
    margin-left: -35%;
}
.h5h{
    position: relative;
    margin-top: 15%;
    // text-align: center;
    margin-left: 25%;
    background: #FAFAFA;
    padding: 30px 150px 30px 150px;
    width: 1040px;
    font-size: 16px;
    font-weight: 500;
}
.lap{
    margin-top: 0.5%;
    position: absolute;
    margin-left: 30.5%;
    z-index: 2;
}
.el3{
    margin-left: 50%;
    margin-top: 2%;
    gap: 20px;
}
.h4h{
    margin-left: 46.9%;
    font-weight: 400;
    margin-top: 10px;
    font-size: 20px;
}
.el4{
    margin-left: 49.5%;
    margin-top: 1%;
}
.el{
    padding-right: 20px;
}