.sec5 {
    margin-top: 250px;
    background: #FFF5F6;
    width: 1890px;
    height: 1000px;
}

.col1 {
    background-color: white;
    padding-left: 50px;
    padding-right: 50px;
    border-radius: 24px;
    margin-top: 6px;
    box-shadow: 0px 8px 30px 0px #D414431A;

}

.backfot {
    background-image: url(/img/sectionbg2\ 1.png);
    width: 1520px;
    height: 382px;
    margin-top: 150px;
    margin-left: -80px;
    position: absolute;

}

.caf {
    color: white;
    background: #F0D1A5;
    padding: 5px 15px 5px 15px;
    width: 70px;
    border-radius: 6px;
    font-weight: 500;
    margin-top: 40px;
    margin-top: 50px;
}

.chika {
    margin-top: 30px;
    font-weight: 600;
    font-size: 16px;
    color: black;
}

.textkaka {
    color: #907E82;
    margin-top: 10px;
    font-size: 16px;
    font-weight: 500;
}

.block-line {
    width: 234px;
    border: 1px solid #E1E1E1;
    margin-top: 20px;
    margin-bottom: 20px;
}

.time {
    color: black;
    margin-bottom: 1px;
    font-weight: 600;
    font-size: 16px;
}

.ptime {
    color: #FFA5BA;
    margin-top: 5px;

}

.nom {
    color: #907E82;
    padding-bottom: 62px;
    font-size: 16px;
    font-weight: 500;

}

.col2 {
    background-color: white;
    padding: 20px 50px 20px 50px;
    border-radius: 24px;
    margin-top: 0px;
    box-shadow: 0px 8px 30px 0px #D414431A;

}

.food-truck {
    font-family: "DM Sans", sans-serif;
    background-color: #C2E297;
    width: 138px;
    color: white;
    padding: 5px 15px 5px 15px;
    font-size: 16px;
    font-weight: 500;
    line-height: 30px;
    border-radius: 6px;
    text-align: center;
    margin-top: 40px;
}

.los {
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin-top: 32px;
    color: black;
}

.text-los {
    font-family: "DM Sans", sans-serif;
    font-weight: 900;
    font-size: 16px;
    margin-top: 10px;
    color: #907E82;
    line-height: 29px;
}

.col2 {
    margin-top: -10px;
}

.col3 {
    background-color: white;
    margin-top: -18px;
    padding: 20px 50px 60px 50px;
    border-radius: 24px;
    box-shadow: 0px 8px 30px 0px #D414431A;
}

.te {
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
    position: relative;
}

.colos {
    margin-left: 20%;
    gap: 60px;
    margin-top: -150px;
    position: absolute;
}

.e {
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
    margin-top: 15px;
}

.btn8 {
    color: white;
    background: #D41342;
    padding: 15px 40px 15px 40px;
    border-radius: 30px;
    margin-top: 30px;
}

.btn7 {
    color: red;
    background-color: white;
    padding: 15px 40px 15px 40px;
    margin-top: 25px;
    border-radius: 30px;
}

.batns {
    gap: 50px;
    position: absolute;
    margin-top: 28%;
    margin-left: 39%;
}

// =====================posdsek=================
.podsek {
    margin-top: 40%;
    position: absolute;
}
.h3hh{
    color: #FFA5BA;
    font-size: 30px;
    font-weight: 800;
    margin-left: 35%;
    width: 900px;
}
.h2hh{
    color: #D41443;
    font-size: 58px;
    font-weight: 900;
    margin-left: 35%;
}
.imgs{
    margin-left: 150%;
    margin-top: -13%;
    gap: 20px;
    position: absolute;
}
.textus{
    margin-left: 131%;
    width: 400px;
    margin-top: -5%;
    font-weight: 600;
}
.nimber{
    color: #D41443;
}